<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.mb.mapper.MpBindTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.mb.entity.MpBindTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="union_id" property="unionId" />
        <result column="open_id" property="openId" />
        <result column="member_id" property="memberId" />
        <result column="nickname" property="nickname" />
        <result column="head_img_url" property="headImgUrl" />
        <result column="gender" property="gender" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="privileges" property="privileges" />
        <result column="subscribe" property="subscribe" />
        <result column="subscribe_time" property="subscribeTime" />
        <result column="subscribe_scene" property="subscribeScene" />
        <result column="unsubscribe_time" property="unsubscribeTime" />
        <result column="tag_ids" property="tagIds" />
        <result column="qr_scene" property="qrScene" />
        <result column="qr_scene_str" property="qrSceneStr" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, union_id, open_id, member_id, nickname, head_img_url, gender, country, province, city, privileges, subscribe, subscribe_time, subscribe_scene, unsubscribe_time, tag_ids, qr_scene, qr_scene_str, create_time, modify_time
    </sql>

</mapper>
