<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.mp.mapper.MsgSubscribeTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.mp.entity.MsgSubscribeTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="publish_id" property="publishId" />
        <result column="union_id" property="unionId" />
        <result column="open_id" property="openId" />
        <result column="member_id" property="memberId" />
        <result column="execute_num" property="executeNum" />
        <result column="execute_time" property="executeTime" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, publish_id, union_id, open_id, member_id, execute_num, execute_time, remark, create_time, modify_time, status
    </sql>

</mapper>
