<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.mp.mapper.QrcodeTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.mp.entity.QrcodeTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="scene_str" property="sceneStr" />
        <result column="expire_seconds" property="expireSeconds" />
        <result column="ticket" property="ticket" />
        <result column="url" property="url" />
        <result column="remark" property="remark" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, scene_str, expire_seconds, ticket, url, remark, type, create_time
    </sql>

</mapper>
