<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.mp.mapper.MsgRecordTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.mp.entity.MsgRecordTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="open_id" property="openId" />
        <result column="msg_id" property="msgId" />
        <result column="template_id" property="templateId" />
        <result column="data" property="data" />
        <result column="url" property="url" />
        <result column="miniapp_appid" property="miniappAppid" />
        <result column="miniapp_page" property="miniappPage" />
        <result column="user_miniapp_path" property="userMiniappPath" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, open_id, msg_id, template_id, data, url, miniapp_appid, miniapp_page, user_miniapp_path, remark, create_time
    </sql>

</mapper>
