<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.mp.mapper.ShortUrlTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.mp.entity.ShortUrlTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="long_url" property="longUrl" />
        <result column="short_url" property="shortUrl" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, long_url, short_url, remark, create_time, create_user
    </sql>

</mapper>
